username = "user@example.com"
token = "*************************************************"
project = "Default"
location_name = "Ametnes"
location_code = "DSL-ABC1"
admin_user = "AdminUser"
admin_password = "abc123"
cluster_user = "ClusterUser"
cluster_password = "abc123"